<ion-header>
    <ion-navbar>
        <ion-title>
            Shop Scanner
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <button *ngIf="!isReading" (click)="readQRCode()" class="fullscreen-button">Scan</button>
    <div *ngIf="isReading">
        <ngx-barcode *ngFor="let barcode of barcodes" [bc-value]="barcode" [bc-display-value]="true"></ngx-barcode>
    </div>
    <button *ngIf="isReading" (click)="goBack()" class="fullscreen-button">Again</button>

</ion-content>