// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.cart-products .barcode-holder {
    width: 92px;
    float: left;
}

.cart-products .product-info {
    float: left;
    width: calc(100% - 124px);
    /* display: block; */
    padding: 8px 8px 8px 24px;
    /* overflow: hidden; */
}

.cart-products .delete-product{
    float:left;
    width:32px;
    padding-top: 24px;
    font-size: 24px;
}

.cart-products .product-info h3 {
    font-size: 16px;
    text-align: left;
    margin: 0;
}
.cart-products li {
    float: left;
    width: 100%;
    background: #3ba6b7;
    margin-top: 16px;
    color: white;
    text-align: center;
    border: 1px solid gainsboro;
    border-radius: 5px;
}
.button-holded {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
}

.button-holded button {
    height: 65px;
    width: 65px;
    background: grey;
    border-width:3px;
    border-radius: 50%;
    /* position: relative; */
    /* display: block; */
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 21px;
}

.button-holded button:nth-child(2) {
    width:85px;
    height:85px;
}
.button-holded > div {
    width: 33%;
    float: left;
    text-align: center;
}

button.green {
    background: #2ba22b;
    border-color: #178417;
    border-style: solid;
}

button.red {
    background: #ce3838;
    border-color: #a92b2b;
    border-style: solid;
}

button.blue{
    background: #45a2ce;
    border-color: #03959c;
    border-style: solid;
}

.button-holded button.lg{
    width:85px;
    height:85px;
}

online-indicator {
    float: right;
    display: block;
}

online-indicator div.green {
    background: green;
}
online-indicator div{
    width: 20px;
    height: 20px;
    margin: 2px;
    border-radius: 50%;
    background: grey;
    border: 3px solid #b7b7b7;
}

online-indicator div.grey {
    background: grey;
}