page-cart {
    .input-modal {
        position: absolute;
        z-index: 99999;
        background-color: rgba(0,0,0,0.5);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .input-modal .input-modal-content {
        background: white;
        padding: 25px;
        margin-top: calc(50vh - 100px);
        margin-left: 8px;
        margin-right: 8px;
        text-align:center;
    }
    
    .input-modal-content button {
        color: white;
        padding: 16px 32px;
        font-size: 16px;
    }
    
    .input-modal-content input {
        color: black;
        background:white;
        padding: 16px 32px;
        font-size: 16px;
    }
}
