<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Cart
            <online-indicator></online-indicator>
        </ion-title>

    </ion-navbar>
</ion-header>

<ion-content padding>

    <div *ngIf="currentCart.barcodes.length === 0">No products in cart</div>
    <div *ngIf="howManyActive">
        <p>How many?</p>
        <input type="number" [(ngModel)]="howManyNumber" name="howManyNumber">
        <button *ngIf="howManyActive" (click)="finishAdding()" class="green lg">Add</button>
    </div>

    <div>
        <ul class="cart-products" style="margin: 0;padding: 0;list-style:none;">
            <li *ngFor="let product of currentCart.products">
                <div class="barcode-holder"><ngx-barcode  [bc-font-size]="10"  [bc-width]="0.5" [bc-height]="45" [bc-value]="product.payload" [bc-display-value]="true"></ngx-barcode>
                </div>
                <div class="product-info">
                    <h3>Product Name: {{product.product_name}}</h3>
                    <h3>Price: {{product.price}}</h3>
                    <h3>QTY: {{product.qty}}</h3>
                </div>
                <div class="delete-product">
                        <i class="fa fa-close" aria-hidden="true"></i>
                </div>
                            </li>
        </ul>
    </div>

    <div class="button-holded">
        <div>
            <button class="red" (click)="clearAll()"><i class="fa fa-remove"></i></button>
        </div>
        <div>
            <button *ngIf="!howManyActive" (click)="startAddProduct()" class="green lg"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </div>
        <div>
            <button *ngIf="!howManyActive" (click)="finishOrder()" class="blue"><i class="fa fa-check" aria-hidden="true"></i></button>
        </div>
    </div>
</ion-content>