<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Cart
            <online-indicator></online-indicator>
        </ion-title>

    </ion-navbar>
</ion-header>

<ion-content padding>

    <div *ngIf="currentCart.barcodes.length === 0">No products in cart</div>
    <div *ngIf="howManyActive">
        <p>How many?</p>
        <input type="number" [(ngModel)]="howManyNumber" name="howManyNumber">
        <button *ngIf="howManyActive" (click)="finishAdding()" class="green lg">Add</button>
    </div>

    <div>
        <ngx-barcode *ngFor="let barcode of currentCart.barcodes" [bc-value]="barcode" [bc-display-value]="true"></ngx-barcode>
    </div>

    <div class="button-holded">
        <div>
            <button class="red" (click)="clearAll()">Cancel</button>
        </div>
        <div>
            <button *ngIf="!howManyActive" (click)="startAddProduct()" class="green lg">Add</button>
        </div>
        <div>
            <button *ngIf="!howManyActive" (click)="finishOrder()" class="blue">Finish</button>
        </div>
    </div>
</ion-content>