page-home {
    .scroll-content{
        text-align:center;
    }
    button.fullscreen-button {
        width: 180px;
        height: 180px;
        color: white;
        background: rgb(88, 167, 24);
        border: 7px solid #4bdf62;
        font-size: 24px;
        font-weight: bold;
        margin-top: calc(50vh - 180px);
        text-transform: uppercase;
        border-radius: 50%;
    }
}
